<!DOCTYPE html>
<html>
  <head>
    <title>GossApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
        <%# <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a> %> 
        <a class="nav-link" <%= link_to "Accueil", "/"  %><span class="sr-only">(current)</span></a>
          </li>
       
          
          <li class="nav-item">
          <%#   <a class="nav-link" href="#"> Liste des Ragots</a> %>
          <a class="nav-link"  <%= link_to "Liste des Ragots", "/" %>          </a>

        </li>
       
        
        <li class="nav-item">
          <a class="nav-link" <%= link_to "Nouveau ragot", new_gossip_path  %>    </a>
        </li>
        
          </div>
        </li>
      </ul>
    </div>
  </nav>

<%#     <p> commented line </p>    %>


  
  <body>
    <%= yield %>
  </body>
</html>
